<ion-view title="Event">
<!--
  <ion-nav-buttons side="left">
    <button class="button">hi</button>
    <ion-nav-back-button class="button-icon icon ion-ios-arrow-back">Back</ion-nav-back-button>
  </ion-nav-buttons>  
-->
  <ion-nav-buttons side="right">
      <button class="right button button-icon ion-plus" ng-click="newPreference()"></button>
<!--      ng-click="newEvent()"-->
  </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <h1>{{curEvent.name}}</h1>
        <p>Creator: {{curEvent.creator}}</p>
        <div>
            <p>Some friendly
                <strong>markdown</strong> Event description and other stuff. lol.</p>
        </div>
        <ion-list>
            {{eventID}}
            <ion-item>Item 1</ion-item>
            <ion-item>Item 2</ion-item>
            <ion-item ng-repeat="preference in preferences">
              <h2>{{preference.money}}</h2>
              <p>{{preference.time}}</p>
            </ion-item>
        </ion-list>
        <button href="#/tabs/events">Finished </button>
        <button href="#">finishe2</button>
      <a href="#/tabs/events">link</a>
      
      <script id="new-preference.html" type="text/ng-template">
          <div class="modal">
            
            <ion-header-bar class="bar-secondary">
              <h1 class="title">New Preference</h1>
              <button class="button button-clear button-positive" ng-click="closeNewPreference()">Cancel</button>
            </ion-header-bar>
            
            <ion-content>
              
              <!-- submit form to create new Preference -->
              <form ng-submit="createPreference(preference)">
                <div class="list">
                  <label class="item item-input">
                    <!--Should automatically attain from current user name(id)-->
                    <input type="text" ng-model="preference.owner" placeholder="Owner">
                  </label>
                  <label class="item item-input">
                    <input type="number" ng-model="preference.distance" placeholder="Distance">
                  </label>
                  <label class="item item-input">
                    <input type="number" ng-model="preference.money" placeholder="Money">
                  </label>
                  <button type="submit" class="button button-block button-positive">Create Event</button>
                </div>
              </form>
            </ion-content>
          </div>
        </script>
    </ion-content>
</ion-view>